* {
  /* ont-family: 'Lato', sans-serif;*/
  font-family: "Courier New", monospace;
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 14px;
  /*
    color: #cfcfcf;
  background-color: rgb(0, 0, 128);
  */
    color: #003;
    background-color: #fafafa;
  padding: 0 10px;
  text-align: center;
}
a {
  color: #cfcfcf;
  /* yellow ? */
}

h1, h2, h3 {

  line-height: 1.2
}